# BEGIN REQUIRED FOR WEBFONTS

AddType fonts/Asap-Regular.otf
AddType fonts/Asap-Bold.otf


<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>

# END REQUIRED FOR WEBFONTS